<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Account</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"><link rel="stylesheet" href="./account.css">

</head>
<body>
<!-- partial:index.partial.html -->
<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm nav-bg-color">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <!-- Logo Text -->
            <span class="text-uppercase font-weight-bold pl-3">CookBook App</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <button class="btn btn-danger">Logout</button>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="wrapper">
    <!--SideBar-->
    <div class="sidebar">
      <div class="sidenav-container">

    <div class="sidenav">

        <div class="side-link">
            <a href="#">My Cook Books</a>
            <div></div>
        </div>

        <div class="side-link">
            <a href="#">Conversions</a>
            <div></div>
        </div>

        <div class="side-link">
            <a href="#">Recipe Finder</a>
            <div></div>
        </div>
    </div>

</div>
      </div>
    <!--SideBar End-->

    <!--Body Start-->
    <div class="body-container">
      <div class="main-heading text-center text-uppercase">
        <h4>Manage Cook Books</h4>
        <div id="addCookbookModal" class="modal">
           <div class="modal-content">
              <span class="close-button">×</span>
                <h4>Add Cook Book</h4>
                <form id="cookbookForm">
                <!-- Form fields go here -->
                <input type="text" id="cookbookName" name="cookbookName" placeholder="Cookbook Name" required>
                <select id="cookbookType" name="cookbookType" required >
                    <option value="AMERICAN">American</option>
                    <option value="CHINESE">Chinese</option>
                    <option value="MEXICAN">Mexican</option>
                    <option value="JAPANESE">Japanese</option>
                    <option value="KOREAN">Korean</option>
                    <option value="OTHER">Other</option>

                        <!-- Add more options as needed -->
                </select>
                <button class="btn btn-danger" id="addCookBookButton">Add</button>
                </form>
           </div>
        </div>
        <button class="btn btn-danger" id="addCookbookButtonForm">Add Cook Book</button>
        <button class="btn btn-danger" id="removeCookbookButtonFrom">Remove Cook Book</button>
      </div>
      <div class="cookbooks">
          <h1>Your Cook Books</h1>
          <ul id="cookbookList"></ul>
      </div>
    </div>
    <!---Body End--->
</div>
<!-- partial -->

  
</body>
<script th:src="@{./account.js}"></script>
<script th:src="@{./account-hideform-addCookBook.js}"></script>
</html>
