<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../css/conversion.css}">
    <title>Cooking Measurement Converter</title>
</head>
<body>
<!-- SideBar -->
<div class="sidenav">
    <div class="logo">The Cook Book App</div>
    <a href="/ui/main">My Cook Books</a>
    <a href="/ui/conversion">Conversion Tool</a>
    <a href="/ui/recipeFinder">Recipe Finder</a>

</div>


<!-- Main Content -->
<div class="container">
    <div class="box">
        <h2>Cooking Measurement Converter</h2>
        <form id="converter-form">
            <label for="measurement">Select a conversion:</label>
            <select id="measurement" name="measurement">
                <option value="teaspoons-to-tablespoons">Teaspoons to Tablespoons</option>
                <option value="tablespoons-to-teaspoons">Tablespoons to Teaspoons</option>
                <option value="cups-to-milliliters">Cups to Milliliters</option>
                <option value="milliliters-to-cups">Milliliters to Cups</option>
                <option value="gallons-to-liters">Gallons to Liters</option>
            </select>

            <label for="value">Enter a value:</label>
            <input type="number" id="value" name="value" step="0.01" required>

            <input type="submit" value="Convert">
        </form>
        <div id="result">
            <button type="button" class="btn btn-success"><span id="result-value" aria-placeholder="Conversion Result"></span></button>
        </div>
    </div>
</div>


<script th:src="@{../js/conversion.js}"></script>
</body>
</html>





