<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Your Recipes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="./account.css">
    <style>
        /* Add the CSS for the scrollable container */
        .scroll-container {
            max-height: 200px; /* Adjust the maximum height as needed */
            overflow-y: auto;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm nav-bg-color">
    <div class="container-fluid">
        <a href="#" class="navbar-brand">
            <span class="text-uppercase font-weight-bold pl-3">CookBook App</span>
        </a>

        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <button class="btn btn-danger">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="sidebar">
        <div class="sidenav-container">
            <div class="sidenav">
                <div class="side-link">
                    <a href="#">My Cook Books</a>
                    <div></div>
                </div>

                <div class="side-link">
                    <a href="#">Conversions</a>
                    <div></div>
                </div>

                <div class="side-link">
                    <a href="#">Recipe Finder</a>
                    <div></div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container">
        <div class="main-heading text-center text-uppercase">
            <div class="cookbooks">
                <h4>Your Recipes</h4>
                <ul id="recipeList">
                    <!-- Recipe list items will be populated dynamically -->
                </ul>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    var dataFromServer = {
        cookBookId: /*[[${cookBookId}]]*/
    };
</script>
<script th:src="@{./cookbook.js}"></script>
</body>
</html>
