<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{./finder/finder.css}">
    <title>Recipe Finder</title>
</head>
<body>
<!-- SideBar -->
<div class="sidenav">
    <div class="logo">The Cook Book App</div>
    <a href="/v1/main">My Cook Books</a>
    <a href="../authenticate/login.html">Conversion Tool</a>
    <a href="../authenticate/login.html">Recipe Finder</a>

</div>


<!-- Main Content -->
<div class="container">
    <div class="box">
        <h2>Recipe Finder</h2>
    </div>
</div>


<script th:src="@{./finder/finder.js}"></script>
</body>
</html>





