<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../css/finder.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
    <title>Recipe Finder</title>
</head>
<body>
<!-- SideBar -->
<div class="sidenav">
    <div class="logo">The Cook Book App</div>
    <a href="/ui/main">My Cook Books</a>
    <a href="/ui/conversion">Conversion Tool</a>
    <a href="/ui/recipeFinder">Recipe Finder</a>
</div>

<!-- Main Content -->
<div class="container">
    <div class="box">
        <h2>Recipe Finder</h2>
        <br>
        <form>
            <input class="form-control" rows="4" id="ingredientsForFinder" name="ingredients" placeholder="Enter Available Ingredients" required>
            <br>
            <input class="form-control" rows="4" id="ethnicity" name="steps" placeholder="Enter Favorite Ethnic Group" required>
            <br>
            <button type="button" id="fetchRecipeModalButton" class="topButtonDelete" data-bs-toggle="modal" data-bs-target="#fetchedRecipeModal">Get Recipe</button>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal" id="fetchedRecipeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Recommended Recipe</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <!-- Modal body -->
            <div class="modal-body">
                <div class="text-center" id="loadingSpinner" style="display: none;">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <div id="recipeContent">
                    <h4 id="recipeName"></h4>
                    <p><strong>Ingredients:</strong></p>
                    <ul id="recipeIngredients"></ul>
                    <p><strong>Steps:</strong></p>
                    <ul id="recipeSteps"></ul> <!-- Change to unordered list -->
                </div>
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
                <p> Select Cookbook to save recipe to <p>
                <select id="cookbookList" class="form-select">
                    <!-- The list of cookbooks will be dynamically populated here -->
                </select>
                <button type="button" id="addRecipeToCookBookButton" class="btn btn-primary">Add Recipe to Cookbook</button>
            </div>
        </div>
    </div>
</div>

<script th:src="@{../js/finder.js}"></script>
</body>
</html>
