<!DOCTYPE html>
<html lang="en">
<head>
<title></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="C:/Users/lcastaa/Desktop/cookbookWebSite/landing/landing.css">
</head>
<body>



<div class="sidenav">
  <div class="logo">The Cook Book App</div>
  <a href="../authenticate/login.html">Join Now!</a>
</div>

<div class="container">
  <div class="box">
    <h2>Welcome to The Cook Book App</h2>
    <p>This web application was designed to keep your favorite cooking recipes backed up and safe
    with the help of some feature not found in a boring physical cookbook like a mesurment converter and a Recipe finder
    we have created a simple yet powerful cooking companion tool.
    </p>
    <br>
    <p>Please login or register to get your enhanced cooking experience started.</p>
    <button id="getstarted">Login / Register</button>


  </div>
</div>

<script src="C:/Users/lcastaa/Desktop/cookbookWebSite/landing/landing.js"></script>
</body>
</html>
